@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Compact Rounded';
  src: local('SF Compact Rounded'), url(./assets/fonts/sf-compact-rounded.ttf) format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
